.about {
    grid-row: 1/-1;
    grid-column: 3 /-1;

    background: linear-gradient(to bottom, rgba($color: #546a7b, $alpha: 0.5), rgba($color: #546a7b, $alpha: 0.5)),
        url("../../assets/space.jpg");
    background-size: cover;
    background-color: #546a7b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-box {
        margin: 6rem;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

       
        &--content {
            cursor: pointer;
            background-color: rgba(#DEDACC,.5);
            color: #35302D;
            font-size: 2rem;
            font-weight: 700;
            //padding: 2rem;
            height: 30%;
           // border: 2px solid greenyellow;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all .4s;
            &:hover{
                transform: scale(1.1);
            }
            
            &__title{
                flex-basis: 60%;
                //border: 2px solid green;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__img1{
               // border: 2px solid purple;
                flex-basis: 27%;
                height: 100%;
                object-fit: 100%;
                background: linear-gradient(45deg ,rgba(#72221F,.5) 0 50%,transparent) 50% 100%, url("../../assets/captain2.jpg");
                background-size: contain;
                background-repeat: no-repeat;
            }
            &__img2{
                flex-basis: 27%;
                height: 100%;
                object-fit: 100%;
                background: linear-gradient(45deg ,rgba(#72221F,.5) 0 50%,transparent) 50% 100%, url("../../assets/yama2.jpg");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}
